<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>[%title%]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" media="screen" />
    <script type="text/javascript" src="/static/less.js"></script>
</head>
<body>
    <h1>[%title%]</h1>
    <ul>
        <li><a href="/list">List</a></li>
        <li><a href="/add">Add</a></li>
    </ul>
    <form method="post" action="[%= postpath %]">
        [% if (note._id) { %]
        <input type="hidden" name="id" value="[%= note._id %]" />
        [% } %]
        <input type="text" name="author" value="[%= note.author %]" /><br />
        <textarea rows="5" cols="40" name="note">[%= note.note %]</textarea><br />
        <input type="submit" value="Save" />
    </form>
</body>
</html>